<!DOCTYPE html>
<html ng-app="myFirstApp">
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="app.js"></script>
        <title>Vue 3 Basics</title>
    </head>
    <body>




        <div ng-controller="MyFirstController">
            {{name}}<br>
            {{sayHello()}}<br>
            <input type="text" ng-model="name"><br><br><br>
        </div>




        <div id="app">
           {{ greeting }} <br><input v-model="greeting" />
           <div>
           <button @click="isVisible=!isVisible">toggle</button>
        </div>
        <div v-if="isVisible">
            {{guess}}<input v-model="guess" />
           </div>
        </div>
          
        
        <script>
            Vue.createApp (
                {
                    data: function() {
                        return {
                            greeting: 'hello world vue',
                            guess: 'hi one more edit more test ',
                            isVisible: true
                        }
                    },
                    methods: {

                    }
                }).mount('#app')
        </script>
    </body>



</html>